.general-wrapper {
  background-color: #3b3f45;
  max-width: 800px;
  margin: 30px auto;
}
.header {
  background-color: #4a4f56;
  color: #ff8984;
  text-align: center;
  padding: 20px 0;
}
h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  margin: 0;
}
.pseudo-title {
  display: block;
  padding: 10px 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}
.main-wrapper {
  padding: 20px 0;
}
ul {
  width: 60%;
  background: #88839e;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
li {
  border: 1px solid #7a7593;
  padding: 12px 10px;
}
ul + .bon-appetit {
  width: 60%;
  background-color: #4a4f56;
  margin: 30px auto 0;
  color: #ff8984;
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}
li:nth-child(even) {
  background: #7a7593;
}
small {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  padding: 0 0 0 5px;
  text-align: left;
}
